*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    height: 100vh;
}

main{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.titulo_principal{
    text-align: center;
    padding-top: 3%;
    color: #f6f6f6;
}

.espacos__titulo{
    color: #f6f6f6;
    font-size: 24px;
}

.botoes{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.salas{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.info_salas{
    color: #000;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: #f6f6f6;
}
.ancora{
    color:black;
    background-color: aqua;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

.link{
    color: #f6f6f6;
    font-size: 24px;
}