*{
    margin: 0;
    padding: 0;
}

.titulo_principal{
    text-align: center;
    padding-top: 3%;
    color: #f6f6f6;
}

.info_salas{
    color: #000;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    background-color: #f6f6f6;
}
body{
    background-color: black;
    height: 100vh;
}
main{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.link{
    color: #f6f6f6;
    font-size: 24px;
}